:root {
  --primary: #fca0ff9f;
  --secondary: #fca0ff6c;
  --secondary2: #00000063;
  --secondary3: #000000cc;
  --light: #ffffff;
  --dark: #ffffff;
  --error: rgb(27, 255, 122);
  --border-radius: 0.3rem;
}

* {
  box-sizing: border-box;
  animation: transitionIn 1s;
  font-family: 'Inconsolata', monospace;
}

.fixed {
  position: fixed;
  top: 20%;
  right: 0;
}

.single-post-title {
  text-align: center;
  font-size: 1.8em;
  padding: 20% 0 0 0 0;
}

.error-404 {
  margin: 20%;
  text-align: center;
}

.background-img {
  background-image: url(./assets/@nightBackground3.png);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 30%;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 1.5;
  font-size: 20px;
  color: var(--dark);
  background-color: #1d1d1d;;
  
}

.title {
  margin: 40% 50% 0 0;
}


.rotating {
  animation: rotating 10s infinite linear;
  /* animation: rotating 6s infinite cubic-bezier(0,.1,.6,.5); */
}

.position {
  animation: position 20s infinite linear;
  /* animation: position 6s infinite cubic-bezier(0,.1,.6,.5); */
}


@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes position {
  0% {
    left: 0;
    transform: translateY(0);
    opacity: 0%;
  }
  5% {
    opacity: 100%;
  }
  /* 50% {
    left: 100%;
    transform: translateY(-200%);
  } */
  95% {
    opacity:100%;
  }
  100% {
    left: 0;
    transform: translateY(-400%);
    opacity: 0%;
  }
}

.transitionIn {
  animation: transitionIn 1s;
}

@keyframes transitionIn {
  from {
    opacity:0;
    transform: rotateX(-40deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0)
  }
}


.dashed-circle {
  border-radius: 50%;
  border: 2px solid var(--dark);
  padding: 35px 20px;
  margin: 50px 0;
  flex-shrink: 0;
}


p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  color: var(--dark);
  text-decoration: none;
}

a:visited {
  color: inherit;
}

nav {
  width: 100%;
  justify-content: right;
}

nav a {
  padding: 6px 10px;
  margin: 0 15px;
  transition: all 1s;
}

nav a:hover {
  border: 1px solid white;
  border-radius: 15px;
}

.page-title {
  text-align: center;
  width: 100%;
  margin: 0;
  font-size: 2.5rem;
}

.text {
  margin: 3.2% 5% 1% 5%;
  text-align: center;
  animation: transitionIn 1s;
}

.home-text {
  margin: 6% 5% 1% 5%;
  text-align: center;
  animation: transitionIn 1s;
}

.home-subtext {
  width: 70%;
  text-align: right;
}

.btn,
.pill {
  font-size: 1.3rem;
  text-decoration: none;
  padding: .5% 2%;
  margin: 5px 0;
  border-radius: 15px;
  border: none;
  color: var(--dark);
  outline: none;
  background-color: var(--secondary3);
  transition: all 1s;
}

.btn-login {
  font-size: 1.3rem;
  text-decoration: none;
  padding: 0.5rem 1.2rem;
  margin: 5px 5px;
  border-radius: var(--border-radius);
  border: none;
  color: var(--dark);
  outline: none;
  background-color: var(--secondary3);
  transition: all 1s;
}
.btn-login:hover {
  border: 1px solid white;
  border-radius: 15px;
}

.transparent {
  background-color: transparent;
}

.form-login-input {
  width: 100%;
  color: white;
  height: 3em;
  padding: 1% 1%;
  margin: 1% 0;
  font-size: 1.2rem;
  border-radius: 15px;
  border: none;
  background-color: var(--secondary3);
  /* border: 2px dashed var(--dark);
  border-radius: var(--border-radius); */
  resize: none;
}

.margin2 {
  margin: 30% 20% 50% 20%;
}

.btn:hover a,
.pill:hover a {
  border: 1px solid white;
}

.btn-inline {
  display: inline;
}

/* CARDS */
.card {
  margin: 2% 20% 20% 20%;
  padding: 0;
  /* border: 2px dashed var(--dark); */
  border-radius: 15px;
  background-color: var(--secondary2);
  color: var(--dark);
  width: 40%;
}

.profile-card {
  width: 20%;
  padding: .5% 2% 1% 2%;
  margin: 3%;
}

.center {
  text-align: center;
}

.profile-card-header {
  margin: 0 0 0.8em 0;
  padding: 0.1em;
  font-size: 1.5em;
  border-bottom: 1px solid white;
  width: fit-content;
}


.friendList {
  display: flex;
  flex-direction: wrap;
  justify-content: center;
  margin: 0 10% 30% 10%;
}

.single-post-text{
  text-align: center;
}

.margin-bottom {
  top: 10%;
}

.padding-top-bottom {
  padding-bottom: 4%;
}

.friend {
  margin:0;
}

.bottom-margin {
  margin-bottom: 30%;
}

.margin {
  margin: 20%;
}


.profile-card-element {
  padding: 2.5%;
  font-size: 1.4rem;
}

.card-header {
  margin: 0;
  padding: 0.8em;
  font-size: 1.5em;
}

.card-body {
  padding: 2.5%;
  font-size: 1.4rem;
}

.post {
  margin: 10% 10%;
  text-align: center;
  padding: 0;
  /* border-radius: 40px; */
  background-color: var(--secondary2);
  color: var(--dark);
  width: 70%;

}

.post-btn {
  font-size: 1.3rem;
  text-decoration: none;
  padding: 0.55rem 1.2rem;
  margin: 5px 5px;
  border-radius: 15px;
  border: none;
  color: var(--dark);
  outline: none;
  transition: all 1s;
  background-color: transparent;
  width: fit-content;
}

.post-btn:hover {
  border: 1px solid white;
}

.reaction-count {
  border: none;
  border-radius: var(--border-radius);
  width: fit-content;
  text-align: center;
  padding: 1%;
  margin: 0 0 3% 80%;
  transition: all 1s;
}

.reaction-count:hover {
  border: 1px solid white;
  border-radius: 15px;
  -webkit-transition: all 1s ease;
  transition: all .2s ease;
}

.selected {
  color: var(--primary)
}

.profile-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: right;
  width: 100%;
}

.profile-nav-list {
  display:flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-items: left;
  list-style: none;
  font-size: 1.5vw;
  letter-spacing: .2em;
  cursor: pointer;
}

.profile-nav-element {
  padding: 0;
  width: fit-content;
}


.home-container{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-element{
  width:40%;
}

.post-container{
  width:50%;
  z-index: 9999;
}

.profile-post-container{
  margin: 0 20% 0 25%;
  width:60%;
  z-index: 9999;
}



/* FORM */

.form {
  width: 100%;
  border-radius: var(--border-radius);
  transition: all 1s;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2%;
}

.form-label {
  font-size: 1.5rem;
  margin: 0 10%;
}

.form-input {
  width: 60%;
  padding: 1% 1%;
  margin: 0;
  font-size: 1.2rem;
  border: none;
  border-radius: 15px;
  resize: none;
  background-color: var(--secondary2);
  color: white;
}

.char-count {
  font-size: .7em;
  padding:0;
  margin:0 0 0 15%;
}

[type='radio']:checked,
[type='radio']:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type='radio']:checked + label,
[type='radio']:not(:checked) + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: var(--secondary);
  margin-right: 0.2rem;
}

[type='radio']:checked + label:before,
[type='radio']:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 2px solid var(--secondary);
  border-radius: 100%;
  background: #fff;
}
[type='radio']:checked + label:after,
[type='radio']:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background-color: var(--secondary);
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type='radio']:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type='radio']:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.container {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  display:flex;
}

.center-container-elements {
  justify-content: center;
}

.container-element {
  margin:5% 2%;
  padding: 0 1%;
  flex-grow: 0;
  height: fit-content;
}

/* SMALL */
@media screen and (min-width: 640px) {
}

/* MEDIUM */
@media screen and (min-width: 768px) {
}

/* LARGE */
@media screen and (min-width: 992px) {
}

/* X-LARGE */
@media screen and (min-width: 1200px) {
}
